OPENAI_API_KEY=
NODE_ENV=development
GEMINI_API_KEY=""
DEV_URL="http://localhost:3000"
DATABASE_URL="mongodb+srv://jayalathdimuthu:6sG85savyhsMXF2p@cluster0.ucrp2zp.mongodb.net/team_12?retryWrites=true&w=majority&tls=true"